.container {
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Garamond', serif;
    background-color: #1a1532;
}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.selectavatar {
    width: 55%;
    height: auto;
}

.selectavatar:hover {
    box-shadow: 0px 15px 25px rgba(244, 148, 237, 0.7); /* More intense on hover */
    transition: box-shadow 0.3s ease-in-out;
}

.chooseAvatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
}


.images {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 50px;
    gap: 50px; /* Increased spacing for larger avatars */
}

.avatar {
    width: 250px; /* Increased size */
    height: 250px;
    border-radius: 10%; /* Optional: Slight rounding */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    box-shadow: 0px 15px 30px rgba(244, 148, 237, 0.7); /* Pink-purple shadow */
}
