 
  .dnt {
    width: 45%;
    height: 500px;
    background-color: orange;
    border: 2px solid #e0a2f8;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grph, .blank {
    width: 20%;
    height: 250px;
    background-color: orange;
    border: 2px solid #e0a2f8;
    margin-top: 2%;
    margin-left: 3%;
  }
  
.rw1 {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: 20px;
}

.weekly{
    margin-top: 2%;
    margin-left: 3%;
    width: 45%;
    height: 500px;
    background-color: orange;
}
.smr, .hs {
    width:15%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.add,.minus{
    width:7%;
    margin-left:3%;
    margin-top: 2.5%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.react-calendar{
    background-color: rgb(255, 255, 255);
}
.cal{
    margin-top: -33%;
    width: 20%;
    margin-left:3% ;
}
.react-calendar__navigation button{
    background-color: #ffffff;
    width:20%;
}
.react-calendar__tile--now {
    background-color: orange; 
    color: white;
    font-weight: bold;
}
button:hover {
    color: white;
    cursor: pointer;
}

.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26, 21, 50, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal {
    position: relative;
    background-color: rgb(90, 59, 103);
    color: rgb(245, 179, 179);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 100%;
}

.modalInput {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(115, 82, 128);
    color:rgb(245, 179, 179);
}

.modalButton {
    margin: 5px;
    padding: 10px 15px;
    background-color: rgb(115, 82, 128);
    color:rgb(245, 179, 179);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}