  
  .grph, .blank {
    width: 20%;
    height: 250px;
    background-color: orange;
    border: 2px solid #e0a2f8;
    margin-top: 2%;
    margin-left: 3%;
  }
  
.rw1 {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: 20px;
}

.weekly{
    margin-top: 2%;
    margin-left: 3%;
    width: 45%;
    height: 500px;
    background-color: orange;
}
.smr, .hs {
    width:15%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.updt {
    display: flex;
    justify-content: center;
}

.add,.minus{
    width: 50px; 
    height: 50px; 
    margin: 0 10px; 
    font-size: 20px; 
    background-color: #2e1b5b;
    color: #c48dc8;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin-top: 400px;
}

.react-calendar{
    background-color: rgb(255, 255, 255);
}
.cal{
    margin-top: -33%;
    width: 20%;
    margin-left:3% ;
}
.react-calendar__navigation button{
    background-color: #ffffff;
    width:20%;
}
.react-calendar__tile--now {
    background-color: orange; 
    color: white;
    font-weight: bold;
}
button:hover {
    color: white;
    cursor: pointer;
}

.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26, 21, 50, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal {
    position: relative;
    background-color: rgb(90, 59, 103);
    color: rgb(245, 179, 179);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 100%;
}

.modalInput {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(115, 82, 128);
    color:rgb(245, 179, 179);
}

.modalButton {
    margin: 5px;
    padding: 10px 15px;
    background-color: rgb(115, 82, 128);
    color:rgb(245, 179, 179);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.habit-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c48dc8;
    background-color: #2e1b5b;
    width: 600px;
    text-align: center;
    padding: 20px; 
    border-radius: 10px;
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* .pie-chart-container {
    width: 50%; 
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
} */


.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
}

