.container {
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Garamond', serif;
    background-color: #1a1532; /* Changed background color */
}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hamburgerMenu {
    
    margin-left: 15px;
}
  
.journal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #1a1532; /* Ensure journal also has matching background */
    padding-top: 20px;
    color: rgb(212,186,251); /* To ensure text is readable on the dark background */
}

.mood{
    font-size: larger;
}
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
.journal h1 {
    font-size: 50px;
    font-family:'Jersey 20', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(212,186,251); /* Ensure header text contrasts with the dark background */
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #1a1532;
}

.emotions {
    height: 120px;
    margin: 0 30px;
    transition: box-shadow 0.3s ease; /* Add smooth transition for hover effect */
}

.emotions:hover {
    filter: drop-shadow(0 0 15px rgba(212, 186, 251, 1));

}

.emotions::selection{
    filter: drop-shadow(0 0 15px rgba(212, 186, 251, 1));
}

.thoughts {
    width: 80%;
    height: 360px;
    margin-top: 30px;
    padding: 10px;
    font-family: 'Garamond', serif; 
    font-size: 1rem;
    background-color: rgb(212,186,251);
    border-radius: 5px;
    resize: vertical;
}

.thoughts:focus {
    border-color: darkgray; 
    outline: none; 
}

@media (max-width: 768px) {
    .thoughts {
        width: 95%; 
    }
}

@media (max-width: 480px) {
    .thoughts {
        width: 100%; 
    }
}

.emotionButton {
    background-color:#1a1532; /* Set the background color to green */
    border: none; /* Remove the default border */
    padding: 5px; /* Adjust padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.hamburgerMenu {
    background: none; /* Remove default button background */
    border: none; /* Remove default border */
    padding: 0; /* Remove default padding */
    cursor: pointer; /* Make it clickable */
}

.menuImage {
    width: 7vh; /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment */
}

.submitButtonImage{
    margin-top: 30px;
    width:100px;
}





