.profileContainer {
    display: flex;
    align-items: flex-start; 
}

.profileItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profileData {
    margin-left: 10px;
    font-size: 25px;
    color: #c48dc8;
}

.profilePic img {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 15%;
    height: auto;
}

.profiletxt {
    display: flex;
    flex-direction: column;
    margin-left: 55%;
    margin-top: 10%;
    gap: 10px; 
}

.name {
    width: 20%;
    padding: 10px 0; 
    position: relative; 
}

.join {
    width: 15%;
    padding: 10px 0; 
    position: relative; 
}


.changeavatar {
    width: 30%;
    padding: 10px 0px;
    cursor: pointer;
}

.sts {
    margin-top: 15%;
    width: 75%;
    height: 300px;
    background-color: #2e1b5b;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ach {
    margin-top: 15%;
    width: 75%;
    height: 300px;
    background-color: #2e1b5b;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.purchasedItemsContainer {
    margin: 20px;
}

.purchasedItems {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.purchasedItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.purchasedItemImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.purchasedItemDetails {
    margin-top: 10px;
}

